:root {
    --primary-color: #FF5D73;
    --hover-color: #FF7782;
    --black: #000000;
    --gray: #121212;
    --light-gray: #7C7A7A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: var(--black); */
    background-color: #000000;
    font-family: 'Zen Dots'; 
    font-size: 22px;
}

.navbar {
    background-color: white;
    padding: 20px 0;
}

ul li {
    list-style: none;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navbar a {
    gap: 20px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.navbar ul {
    display: flex;
    gap: 20px;
}

.signUp {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
.signUp:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

ul :hover {
    color: var(--hover-color);
    cursor: pointer;
}

.header {
    text-align: center;
    color: white;
    background-color: var(--primary-color);
    padding: 150px;
    text-shadow: 3px 3px 10px black;
    font-size: x-large;
}

.welcome{
    text-align: center;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    border: 5px;
}

.welcome p {
    font-size: small;
    color: var(--light-gray);
}

h2 {
    font-size: x-large;
    color: white;
}

.steps .container { 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.steps .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    flex: 1;
    min-width: 150px;
    margin-top: 20px;
    gap: 10px;
}

/* .box { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    text-align: center;
    gap: 10px;
    margin-top: 50px;
} */

.bio {
    margin-top: 5px;
    text-align: center;
    color: var(--light-gray);
    font-size: small;
}

.steps .box .box2 .box3 .img {
    margin-bottom: 10px;
}

.steps .bio {
    text-align: center;
}

.steps .box img {
    width: 150px;
    height: 100px;
    object-fit: contain;
    border-radius: 5px;
    padding: 5px;
    position: relative;
}

.why .container { 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.whyBox {
   background-color: var(--gray);
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
   padding: 15px 20px;
   color: white;

   width: calc(33.33% - 20px); 
   min-width: 200px;

   display: flex;
    flex-direction: column;
    padding: 50px;
}

.whyBox i {
    margin-right: 10px;
}

.whyBox p {
    font-size: medium;
    margin-bottom: 50px;
}

.whyBox h3 {
    margin-top: auto;
    font-size: small;
    color: var(--primary-color);
}

.whyBox a {
    text-decoration: none;
    color: var(--primary-color);
}

.whyBox a:hover {
    color: var(--hover-color);
}

.whyInfo { 
    display: flex;
    justify-content: flex-end;
    color : var(--light-gray);
    margin-bottom: 100px;
    margin-right: 20px;
    flex-grow: 1;
    flex-shrink: 1;
}

.whyTitle {
    text-align: left;
    color: white;
    margin-top: 100px;
    margin-left: 20px;
    flex-shrink: 1;
    flex-grow: 0;
}

.footer { 
    margin-top: 20px;
    background-color: white;
    padding: 20px 0;
}

.footer ul { 
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer a {
    text-decoration: none;
    color: black;
}

.footer a:hover {
    color: var(--hover-color);

.footer .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

